form {
    width: 70rem;
    margin: 6.4rem auto;
    background: white;
    border: 1px solid #D3E2E5;
    border-radius: 2rem;
    overflow: hidden;
    padding: 8rem;
}

fieldset {
    border: 0;
}

fieldset+fieldset {
    margin-top: 8rem;
}

fieldset legend {
    width: 100%;
    font-size: 3.2rem;
    line-height: 1.5;
    color: #5C8599;
    font-weight: 700;
    border-bottom: 1px solid #D3E2E5;
    margin-bottom: 4rem;
    padding: 2.4rem;
}

.input-block+.input-block {
    margin-top: 2.4em
}

.input-block label {
    color: #8fa7b3;
    margin-bottom: .8rem;
    line-height: 1.5;
}

.input-block label span {
    font-size: 1.4rem;
    color: #8fa7b3;
    margin-left: 2.4rem;
    line-height: 1.5;
    /* Aula 03 - 27:12 */
}