* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    color: white;
}

:root {
    font-size: 62.5%;
}

body,
input,
button,
textarea {
    /* font-weight: 400;
    font-size: 18px == 1.8rem;
    line-height: 1;
    font-family: 'Nunito', sans-serif; */
    font: 400 1.8rem/1 "Nunito", sans-serif;
}