#page-landing {
    background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);
    text-align: center;
    min-height: 100vh;
    display: flex;
}

#container {
    margin: auto;
    width: min(90%, 112rem);
    /**11120px */
}

.location,
h1,
.visit p {
    height: 16vh;
}

#logo {
    animation-delay: 50ms;
}

.location {
    animation-delay: 100ms;
}

main h1 {
    animation-delay: 150ms;
    font-size: clamp(4rem, 8vw, 8.4rem);
}

.visit p {
    animation-delay: 200ms;
}

.visit a {
    width: 8rem;
    height: 8rem;
    background: #ffd666;
    border: none;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    transition: background 0.2s;
    animation-delay: 250ms;
}

.visit a:hover {
    background: #96fffe;
}


/* Desktop Version */

@media (min-width: 760px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .location,
    h1,
    .visit p {
        height: initial;
        text-align: initial;
    }
    .location {
        text-align: right;
    }
    main h1 {
        font-weight: bold;
        width: min(300px, 80%);
        margin: clamp(10%, 9vh, 12%) 0 4rem;
        line-height: .88;
    }
    .visit p {}
}